<%
	schedule_entries_by_day = @entries.group_by {|entry| entry.date}
%>
<table class="cal schedule_entry_cal">
	<thead>
		<tr>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<th><%= day_name(day.wday) %>, <br/><%= month_name(day.month) %> <%= day.day %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<td class="even<%= ' today' if Date.today == day %>">
					<ul>
						<% if !schedule_entries_by_day[day].nil? %>
							<% schedule_entries_by_day[day].sort.each do |entry| %>
								<%= render :partial => 'schedules/schedule_entry', :locals => {:entry => entry, :day => day} %>
							<% end %>
						<% end %>
						<% @availabilities[day].each do |user_id, hours| %>
							<%= render :partial => 'schedules/availability', :locals => {:user_id => user_id, :hours => hours, :day => day } %>
						<% end unless @availabilities.nil? || @availabilities.empty? %>
					</ul>
				</td>
			<% end %>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<% entries_by_day = schedule_entries_by_day %>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<th>
					<% sum = entries_by_day[day].nil? ? 0 : entries_by_day[day].collect(&:hours).sum %>
					<%= sum if sum > 0 %>
					<% available_sum = @availabilities[day].nil? ? 0 : @availabilities[day].collect { |user, hours| hours }.sum %>
					<%= "<span class='schedule_available'>("+available_sum.to_s+" available)</em>" if available_sum > 0 %>
				</th>
			<% end %>
		</tr>
	</tfoot>
</table>