<table class="cal schedule_entry_cal">
	<thead>
		<tr>
			<% day = calendar.startdt %>
			<% while day <= calendar.enddt %>
				<th><%= day_name(day.wday) %>, <br/><%= month_name(day.month) %> <%= day.day %></th>
			<% day = day + 1
			end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% day = calendar.startdt %>
			<% while day <= calendar.enddt %>
			<td class="even<%= ' today' if Date.today == day %>">
				<ul>
					<% if !@viewing_availability %>
						<% @schedule_entries.entries_by_day(day).sort.each do |entry| %>
							<%= render :partial => 'schedule_entry', :locals => {:entry => entry, :day => day} %>
						<% end %>
					<% end %>
					<% @availability_entries.entries_by_day(day).sort.each do |entry| %>
						<%= render :partial => 'availability_entry', :locals => {:entry => entry, :day => day} %>
					<% end %>
				</ul>
			</td>
			<% day = day + 1
			end %>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<% entries = @viewing_availability ? @availability_entries : @schedule_entries %>
			<% day = calendar.startdt %>
			<% while day <= calendar.enddt %>
				<th>
					<% sum = entries.entries_by_day(day).collect(&:hours).sum %>
					<%= sum if sum > 0 %>
					<% if !@viewing_availability %>
						<% available_sum = @availability_entries.entries_by_day(day).collect(&:hours).sum %>
						<%= "<em>(+"+available_sum.to_s+")</em>" if available_sum > 0 %>
					<% end %>
				</th>
			<% day = day + 1
			end %>
		</tr>
	</tfoot>
</table>