<table class="cal schedule_entry-cal">
	<thead>
			<tr><% 7.times do |i| %><th><%= day_name( (calendar.first_wday+i)%7 )%>, <br/><%= month_name((calendar.startdt+i).month) %> <%= (calendar.startdt+i).day %></th><% end %></tr>
	</thead>
	<tbody>
		<tr>
			<% day = calendar.startdt %>
			<% while day <= calendar.enddt %>
			<td class="even<%= ' today' if Date.today == day %>">
				<ul>
					<% if !@viewing_availability %>
						<% @schedule_entries.entries_by_day(day).sort.each do |entry| %>
							<%= render :partial => 'schedule_entry', :locals => {:entry => entry, :day => day} %>
						<% end %>
					<% end %>
					<% @availability_entries.entries_by_day(day).sort.each do |entry| %>
						<%= render :partial => 'availability_entry', :locals => {:entry => entry, :day => day} %>
					<% end %>
				</ul>
			</td>
			<% day = day + 1
			end %>
		</tr>
	</tbody>
</table>
