<%
	schedule_entries_by_day = @schedule_entries.group_by {|entry| entry.date}
	availability_entries_by_day = @availability_entries.group_by {|entry| entry.date}
%>
<table class="cal schedule_entry_cal">
	<thead>
		<tr>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<th><%= day_name(day.wday) %>, <br/><%= month_name(day.month) %> <%= day.day %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<td class="even<%= ' today' if Date.today == day %>">
					<ul>
						<% if !@viewing_availability %>
							<% if !schedule_entries_by_day[day].nil? %>
								<% schedule_entries_by_day[day].sort.each do |entry| %>
									<%= render :partial => 'schedules/schedule_entry', :locals => {:entry => entry, :day => day} %>
								<% end %>
							<% end %>
						<% end %>
						<% if !availability_entries_by_day[day].nil? %>
							<% availability_entries_by_day[day].sort.each do |entry| %>
								<%= render :partial => 'schedules/availability_entry', :locals => {:entry => entry, :day => day} %>
							<% end %>
						<% end %>
					</ul>
				</td>
			<% end %>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<% entries_by_day = @viewing_availability ? availability_entries_by_day : schedule_entries_by_day %>
			<% (calendar.startdt..calendar.enddt).each do |day| %>
				<th>
					<% sum = entries_by_day[day].nil? ? 0 : entries_by_day[day].collect(&:hours).sum %>
					<%= sum if sum > 0 %>
					<% if !@viewing_availability %>
						<% available_sum = availability_entries_by_day[day].nil? ? 0 : availability_entries_by_day[day].collect(&:hours).sum %>
						<%= "<span class='schedule_available'>("+available_sum.to_s+" available)</em>" if available_sum > 0 %>
					<% end %>
				</th>
			<% end %>
		</tr>
	</tfoot>
</table>