<%
	# This partial is based off of Redmine's timelog. It has been modified
	# to accommodate the needs of the Schedules plugin. In the event that
	# changes are made to the original, this file will need to be updated
	# accordingly. As such, efforts should be made to modify this file as
	# little as possible as it's effectively a branch that we want to keep
	# in sync.
%>
<table class="list time-entries">
<thead>
<tr>
<%= sort_header_tag('date', :caption => l(:label_date), :default_order => 'desc') %>
<%= sort_header_tag('user', :caption => l(:label_member)) %>
<%= sort_header_tag('project', :caption => l(:label_project)) %>
<%= sort_header_tag('hours', :caption => l(:field_hours)) %>
<th></th>
</tr>
</thead>
<tbody>
<% entries.each do |entry| -%>
<tr class="time-entry <%= cycle("odd", "even") %>">
<td class="date"><%= format_date(entry.date) %></td>
<td class="user"><%=h entry.user %></td>
<td class="project"><%=h entry.project %></td>
<td class="hours"><%= html_hours("%.2f" % entry.hours) %></td>
<td align="center">
<% if entry.editable_by?(User.current) && false -%>
    <%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => entry, :project_id => nil},
                                       :title => l(:button_edit) %>
    <%= link_to image_tag('delete.png'), {:controller => 'timelog', :action => 'destroy', :id => entry, :project_id => nil},
                                         :confirm => l(:text_are_you_sure),
                                         :method => :post,
                                         :title => l(:button_delete) %>
<% end -%>
</td>
</tr>
<% end -%>
</tbody>
</table>
