<%
	# This partial is based off of Redmine's timelog. It has been modified
	# to accommodate the needs of the Schedules plugin. In the event that
	# changes are made to the original, this file will need to be updated
	# accordingly. As such, efforts should be made to modify this file as
	# little as possible as it's effectively a branch that we want to keep
	# in sync.
%>
<% sorted_criterias = Hash.new %>
<% @hours.collect {|h| h[criterias[level]]}.uniq.each {|v| sorted_criterias[v] = format_criteria_value(criterias[level], v) } %>
<% sorted_criterias.sort {|a,b| a[1]<=>b[1]}.each do |value, formatted_criteria_value| %>
<% hours_for_value = select_hours(hours, criterias[level], value) -%>
<% next if hours_for_value.empty? -%>
<tr class="<%= cycle('odd', 'even') %> <%= 'last-level' unless criterias.length > level+1 %>">
<%= '<td></td>' * level %>
<td><%= h(formatted_criteria_value) %></td>
<%= '<td></td>' * (criterias.length - level - 1) -%>
  <% total = 0 -%>
  <% @periods.each do |period| -%>
    <% sum = sum_hours(select_hours(hours_for_value, @columns, period.to_s)); total += sum -%>
    <td class="hours"><%= html_hours("%.2f" % sum) if sum > 0 %></td>
  <% end -%>
  <td class="hours"><%= html_hours("%.2f" % total) if total > 0 %></td>
</tr>
<% if criterias.length > level+1 -%>
  <%= render(:partial => 'report_criteria', :locals => {:criterias => criterias, :hours => hours_for_value, :level => (level + 1)}) %>
<% end -%>

<% end %>
