<li class="schedule_entry" style="min-height: <%= 2.7*entry.hours %>em">
    <div title="<%= ScheduleCompatibility::I18n.lwr(:label_f_hour, :value => entry.hours) %>" style="min-height: <%= 2.7*entry.hours - 1.7 %>em; <%= entry.style(@user.nil? ? entry.user.id : entry.project.id) %>">
        <%= link_to entry.project, :controller => 'schedules', :action => 'index', :date => entry.date, :project_id => entry.project, :user_id => nil if @project.nil? %>
        <% if @project.nil? && @user.nil? %><br/><% end %>
        <%= link_to entry.user, :controller => 'schedules', :action => 'index', :date => entry.date, :user_id => entry.user.id, :project_id => nil if @user.nil? %>
    </div>
</li>
