<li style="min-height: <%= 3.2*entry.hours %>em" title="<%= lwr(:label_f_hour, entry.hours) %>">
	<div style="min-height: <%= 3.2*entry.hours - 1.9 %>em; <%= entry.style(@user.nil?) %>">
		<% if @project.nil? %>
			<%= link_to entry.project, :controller => 'schedules', :action => 'index', :date => day, :project_id => entry.project unless entry.project.nil? %>
		<% end %>
		<%= "<br/>" if @project.nil? && @user.nil? %>
		<%= link_to entry.user, :controller => 'schedules', :action => 'index', :date => day, :user_id => entry.user.id if @user.nil? %>
	</div>
</li>