<%= breadcrumb link_to(l(:label_schedules_index), {:controller => 'schedules', :action => 'index', :date => @date, :project_id => @project}) unless @project.nil? %>
<%= breadcrumb link_to(l(:label_schedules_index), {:controller => 'schedules', :action => 'index', :date => @date, :user_id => @user.id}) unless @user.nil? %>
<%= breadcrumb link_to(l(:label_schedules_index), {:controller => 'schedules', :action => 'index', :date => @date }) unless !@project.nil? || !@user.nil? %>

<h2>
	<%= l(:label_schedule_edit, :target => link_to_user(@user)) unless @user.nil? %>
	<%= l(:label_schedule_edit, @project) unless @project.nil? %>
	<%= l(:label_schedule_edit, "today") if @user.nil? && @project.nil? %>
</h2>

<p class="subtitle"><%= "#{l(:label_date_from)} #{format_date(@calendar.startdt)} #{l(:label_date_to).downcase} #{format_date(@calendar.enddt)}" %></p>

<% form_tag({}, :id => 'date_form') do %>

<fieldset id="date-range"><legend><%= l(:label_date_range) %></legend>
	<%= hidden_field_tag 'project_id', @project.id unless @project.nil? %>
	<%= hidden_field_tag 'user_id', @user.id unless @user.nil? %>
    <%= select_day(@date.day, :prefix => "day", :discard_type => true) %>
    <%= select_month(@date.month, :prefix => "month", :discard_type => true) %>
    <%= select_year(@date.year, :prefix => "year", :discard_type => true) %>
</fieldset>

<p class="buttons">
    <%= link_to_remote l(:button_apply), 
                   { :update => "content",
                     :with => "Form.serialize('date_form')"
                   }, :class => 'icon icon-checked' %>
</p>

<% end %>

<% form_tag({:action=> "edit"}) do %>
	<div class="box">
		<%= hidden_field_tag 'date', @date %>
		<%= hidden_field_tag 'project_id', @project.id unless @project.nil? %>
		<%= hidden_field_tag 'user_id', @user.id unless @user.nil? %>
		<%= render :partial => 'user', :locals => {:calendar => @calendar } unless @user.nil? %>
		<%= render :partial => 'project', :locals => {:calendar => @calendar } unless @project.nil? %>
		<%= submit_tag l(:button_save) %>
		<%= check_box_tag "notify", "1" %> <label for="notify"><%= l(:label_schedules_send_update)%></label>
	</div>
<% end %>

<%= javascript_include_tag 'schedules_edit', :plugin => 'redmine_schedules'  %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'schedules', :plugin => 'redmine_schedules' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js"></script>
<% end %>


<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>
