<h2><%= l(:label_schedules_estimate) %></h2>
<% form_tag({:action=> "estimate"}) do %>
	<% if @open_issues && @open_issues.any? %>
		<table class="list issues">
			<thead>
				<tr>
					<th>#</th>
					<th><%=l(:field_tracker)%></th>
					<th><%=l(:field_subject)%></th>
					<th><%= l(:field_assigned_to) %></th>
					<th><%= l(:field_start_date) %></th>
					<th><%= l(:field_due_date) %></th>
					<th><%= l(:field_estimated_hours) %></th>
					<th><%= l(:field_done_ratio) %></th>
				</tr>
			</thead>
			<tbody>
				<% @open_issues.collect { |issue_id, issue| issue }.sort { |a,b| a.due_date <=> b.due_date }.each do |issue| %>
					<tr>
						<td class="id"><%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %></td>
						<td class="tracker"><%=h issue.tracker %></td>
						<td class="subject"><%= link_to h(truncate(issue.subject, 60)), :controller => 'issues', :action => 'show', :id => issue %> (<%=h issue.status %>)</td>
						<td><%= issue.assigned_to %></td>
						<td><%= issue.start_date %></td>
						<td><%= issue.due_date %></td>
						<td class="estimated-hours"><%= ScheduleCompatibility::I18n.l_hours(issue.estimated_hours) %></td>
						<td class="progress"><%= progress_bar issue.done_ratio, :width => '80px' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= submit_tag l(:button_save) %>
		<%= check_box_tag "confirm_estimate", "1" %> <label for="confirm_estimate"><%= l(:label_confirmation)%></label>
	<% end %>
<% end %>
