<% form_tag({:action=> "estimate"}) do %>
	<div class="box">
		<fieldset id="version_estimate"><legend><%= l(:label_schedules_estimate) %></legend>
			<table>
				<thead>
					<tr>
						<th colspan="2"><%= l(:label_issue_plural) %></th>
						<th><%= l(:field_assigned_to) %></th>
						<th><%= l(:field_start_date) %></th>
						<th><%= l(:field_due_date) %></th>
					</tr>
				</thead>
				<tbody>
					<% @open_issues.collect { |issue_id, issue| issue }.sort { |a,b| a.due_date <=> b.due_date }.each do |issue| %>
						<tr>
							<td><%= issue.id %></td>
							<td><%= issue.subject %></td>
							<td><%= issue.assigned_to %></td>
							<td><%= issue.start_date %></td>
							<td><%= issue.due_date %></td>
						</tr>
					<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4"></th>
						<th><%= @version.effective_date %></th>
					</tr>
				</tfoot>
			</table>
		</fieldset>
	</div>
	<div class="nodata">
		<%= l(:label_schedules_disclaimer) %>
	</div>
	<%= submit_tag l(:button_save) %>
	<%= check_box_tag "confirm_estimate", "1" %> <label for="confirm_estimate"><%= l(:label_confirmation)%></label>
<% end %>